@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'),
    url(../font/SpoqaHanSansNeo-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
    url(../font/SpoqaHanSansNeo-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
    url(../font/SpoqaHanSansNeo-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
    url(../font/SpoqaHanSansNeo-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'),
    url(../font/SpoqaHanSansNeo-Thin.woff2) format('woff2');
}

@font-face {
    font-family: 'hyundai-text';
    font-style: normal;
    font-weight: 400;
    src: url(../font/HyundaiSansTextKRRegular.woff2) format("woff2")
}

@font-face {
    font-family: 'hyundai-text';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HyundaiSansTextKRMedium.woff2) format("woff2")
}

@font-face {
    font-family: 'hyundai-text';
    font-style: normal;
    font-weight: 700;
    src: url(../font/HyundaiSansTextKRBold.woff2) format("woff2")
}

@font-face {
    font-family: 'hyundai-head';
    font-style: normal;
    font-weight: 300;
    src: url(../font/HyundaiSansHeadKRLight.woff2) format("woff2")
}

@font-face {
    font-family: 'hyundai-head';
    font-style: normal;
    font-weight: 400;
    src: url(../font/HyundaiSansHeadKRRegular.woff2) format("woff2")
}

@font-face {
    font-family: 'hyundai-head';
    font-style: normal;
    font-weight: 500;
    src: url(../font/HyundaiSansHeadKRMedium.woff2) format("woff2")
}

@font-face {
    font-family: 'hyundai-head';
    font-style: normal;
    font-weight: 700;
    src: url(../font/HyundaiSansHeadKRBold.woff2) format("woff2")
}